<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSP_190603</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- <context-param>
  	<description>로킹 여부</description>
  	<param-name>logEnabled</param-name>
  	<param-value>true</param-value>
  </context-param>
  
  <context-param>
  	<description>디버깅 레벨</description>
  	<param-name>debugLevel</param-name>
  	<param-value>5</param-value>
  </context-param> -->
  
  <!-- <servlet>
  	<servlet-name>mysqlDriverLoader</servlet-name>
  	<servlet-class>jdbc.MySQLDriverLoader</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
   -->
  <servlet>
  	<servlet-name>DBCPInit2</servlet-name>
  	<servlet-class>jdbc.DBCPInit3</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
</web-app>

<!-- 서버를 시작하면 web.xml부터 읽기 시작하여 web.xml의 내용을 어플리케이션에 저장을 한다. -->