<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="mapper.CommentMapper">

	<select id="selectCommentByCondition" parameterType="hashmap" resultType="model.Comment">
		SELECT
			comment_no AS commentNo,
			user_id AS userId,
			comment_content AS commentContent,
			reg_date AS regDate
		FROM COMMENT
		<where>
			<if test="commentNo != null">
				comment_no = #{commentNo}
			</if>
		</where>
	</select>

	<sql id="BaseColumns">
		comment_no AS commentNo,
		user_id AS userId,
		comment_content AS commentContent,
		reg_date AS regDate
	</sql>
	
	<select id="selectCommentByPrimaryKey" parameterType="long" resultType="Comment">
		SELECT
			<include refid="BaseColumns"></include>
		FROM COMMENT
		WHERE comment_no = #{commentNo}
	</select>
	
</mapper>